.slider-container {
   width: 600px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.slider {
   position: relative;
   width: 100%;
   overflow: hidden;
}

.slide {
   display: none;
   width: 600px;
}

.active {
   display: block;
   border: 2px solid #ff5733;
   /* Цвет активной картинки */
}

img {
   width: 100%;
   height: auto;
}

.prev-button,
.next-button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   font-size: 24px;
   background-color: #ccc;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
}

.prev-button {
   left: 10px;
}

.next-button {
   right: 10px;
}

.thumbnails-container {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.thumbnail {
   margin: 0 5px;
   cursor: pointer;
}

.thumbnail img {
   width: 50px;
   height: 50px;
   object-fit: cover;
   border: 2px solid #ccc;
}

.thumbnail.active img {
   border-color: #ff5733;
   /* Цвет активной миниатюры */
}